@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}

.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

b {
    font-size: 70px;
    color: #1e88e5;
}

.navItems {
    display: flex;
}

.navItems li {
    list-style: none;
    margin: 0 32px;
}

.navItems li a {
    font-size: 30px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}

.navItems li:hover a,
.links a:hover {
    color: #1e88e5;
}

.links a {
    font-size: 32px;
    color: #3d535f;
    margin: 25px 10px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    /* overflow: hidden; */
}

.drop {
    background: #54ABFB;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    opacity: 0.8;
    border: 2px solid #3d93ff;
}

.drop-1::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #42a5f5;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -20px 30px 16px #2196f3, -40px 60px 32px #2196f3, inset -6px 6px 10px #2196f3, inset 2px 6px 10px #1976d2, inset 20px -20px 22px white, inset 40px -40px 44px #a8ceff;
}
  
.drop::after {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background: #E6FDFB;
    border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
    left: 130px;
    top: 40px;
    box-shadow: 16px 40px 0 -10px white;
    opacity: 0.8;
}

.drop-1 {
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    /* border-radius: 50%; */
    left: -12%;
    top: 40%;
    /* background: linear-gradient(45deg, #1e88e5, #fafafa); */
    animation: object1 6s linear infinite;
}

.drop-2 {
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    /* border-radius: 50%; */
    left: 35%;
    top: 12%;
    /* background: linear-gradient(45deg, #1e88e5, #fafafa); */
    animation: object2 6s linear infinite;
    /* border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%; */
}
  
.drop2::before {
    border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
}

@keyframes object1 {
    50% {
        left: -13%;
        top: 41%;
    }
}

@keyframes object2 {
    50% {
        left: 35%;
        top: 10%;
    }
}

.col {
    width: 50%;
}

.col-0 {
    width: 60%;
    z-index: 5;
}

.top-text {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}

.top-text::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #1e88e5;
}

h1 {
    display: inline-block;
    font-size: 7em;
    font-weight: 900;
    color: #3d535f;
}

.multiText {
    position: relative;
    display: inline-block;
}

.multiText h1 {
    color: #64b5f6;
    text-transform: capitalize;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    top: -120px;
    left: 25px;
}

.multiText h1:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #42a5f5;
}

.multiText h1:nth-child(2) {
	color: #90caf9;
	animation: water 4s ease-in-out infinite;
}

@keyframes water {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

h2 {
    display: block;
    width: 90%;
    font-size: 2em;
    color: #3d535f;
}

.btns {
    width: 100%;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 10px;
    margin-left: 0;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

button:hover {
    background-color: #1e88e5;
}

.img-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.img-box img {
    position: relative;
    height: 100%;
    width: calc(125% - 80px);
    top: -100px;
    right: 50px;
    transform: rotateY(180px);
    animation: animateUser 4s linear infinite;
}

@keyframes animateUser {
    50% {
        right: 30px;
        top: -90px;
    }
}

.img-box  #splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    height: 110%;
    width: 110%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    50% {
        top: 49%;
        left: 51%;
        height: 120%;
        width: 120%;
    }
}

@media only screen and (max-width: 1536px) {
    nav {
        display: block;
        text-align: center;
    }

    .logo {
        display: block;
    }

    .navItems {
        display: block;
    }
    
    .navItems li {
        display: inline-block;
    }

    .drop-1 {
        left: -12%;
        top: 60%;
    }

    .drop-2 {
        left: 70%;
        top: 10%;
    }

    @keyframes object1 {
        50% {
            left: -12%;
            top: 55%;
        }
    }

    @keyframes object2 {
        50% {
            left: 70%;
            top: 15%;
        }
    }

    h1 {
        font-size: 4.5em;
    }

    .multiText h1 {
        top: -80px;
        left: 20px;
    }

    .img-box img {
        top: -100px;
        right: -50px;
    }

    .img-box #splash {
        top: 50%;
        left: 60%;
    }

    @keyframes animateUser {
        50% {
            right: -70px;
            top: -90px;
        }
    }

    @keyframes animate {
        50% {
            top: 49%;
            left: 55%;
        }
    }

    button {
        margin: 15px 10px;
        margin-left: 0;
    }
  }

  @media only screen and (max-width: 980px) {
    nav {
        line-height: 55px;
    }

    #home-link {
        display: none;
    }

    .logo {
        padding-top: 20px;
    }

    .navItems li {
        margin: 0 8px;
    }

    .navItems li a {
        font-size: 22px;
    }

    .wrapper {
        align-items: start;
        padding-top: 140px; 
    }

    .top-text {
        font-size: 28px;
    }

    h1 {
        font-size: 3.2em;
    }

    .multiText h1 {
        top: -57px;
        left: 12px;
    }

    .btns {
        width: 250px;
    }

    .drop-1 {
        left: -100%;
        top: 80%;
    }

    .drop-2 {
        left: 70%;
        top: 10%;
    }

    @keyframes object1 {
        50% {
            left: -100%;
            top: 65%;
        }
    }

    @keyframes object2 {
        50% {
            left: 70%;
            top: 15%;
        }
    }

    .img-box {
        width: 200%;
        height: 200%;
        margin-top: 350px;
        left: -50%;
    }
    
    .img-box  #splash {
        height: 150%;
        width: 150%;
    }

    @keyframes animate {
        50% {
            height: 165%;
            width: 165%;
        }
    }
  }